
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #372f39;
}

#footer-top {
	padding: 1.5rem 0;
}

#footer-main {
	padding-top: 4rem;
	padding-bottom: 3rem;

	.navbar-brand {
		img {
			width: 7rem;
			height: 2rem;
		}
	}
}

#footer-bottom {
	padding: 2rem 0;
}


#copyrights {
	color: #79727c;
}