
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/

/* Product
-----------------------------------------------------------------*/
.product {
	position: relative;

	.product-image {
		position: relative;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.product-details {
		position: absolute;
		bottom: 1rem;
		width: 100%;
		z-index: 1;
	}

	.product-price {
		font-family: $heading-font;
		font-size: 1.25rem;
		font-weight: 700;

		del {
			font-family: $body-font;
			font-size: 1rem;
			font-weight: 400;
			color: #aaaaaa;
			margin-right: 0.75rem;
		}
	}

	.product-title {
		font-size: 1.125rem;
		font-weight: 700;
	}

	.product-info {
		font-size: 0.875rem;
		color: 	#979797;
	}

	.product-rating {
		line-height: 1;
		font-size: 0.875rem;
		color: #b3b2b0;

		i {
			color: #ff893f;
			font-size: 0.65rem;

			&.empty {
				color: rgba(#ff893f, 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		top: 1rem;
		right: 1rem;

		@include transition(all 0.5s ease-in-out);
	}

	.add-to-cart, .add-to-wishlist {
		width: 3rem;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}	

	.add-to-wishlist {
		position: absolute;
		top: 40%;
		right: 43.5%;
		display: flex;
		padding: 1.2rem;
		background-color: $white;
		color: $theme-color;
		opacity: 0;

		@include transition(all 0.5s ease-in-out);
	}

	.add-to-cart {
		background-color: $theme-color;
		color: $white;
	}

	&:hover {
		.add-to-wishlist {
			opacity: 1;
		}
	}
}

.onbest, .onsale, .onnew, .ontop {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-family: $heading-font;
	font-size: 1.125rem;
	font-weight: 700;
}

.onbest {
	color: #372f3a;
}

.onsale {
	color: $theme-color;
}

.onnew {
	color: #f8837a;
}

.ontop {
	color: #bababa;
}

.ads {
    position: relative;
    display: block;

    .ads-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .ads-bg-img {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .ads-body {
        position: relative;
        z-index: 1;
    }

	&.ads1 {
		.ads-body {
			padding: 5.5rem 4rem;

			h2 {
				color: #a0a0a0;
			}

			h1 {
				font-size: 8.75rem;
				line-height: 1;
			}
		}
	}

	&.ads2 {
		padding: 9rem 0;
	}
}
