/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/
.event {
    margin-bottom: 1.875rem;

    p {
        color: #79727c;
    }
}

.event-date {
    font-size: 1.875rem;
    font-weight: bold;
    color: $theme-color;
}